
@import "font.css";

/* ----------------- tmp --------------- */

body
{
  /* background-color: #F2F2F2; */

}


/* ----------------------------- structure ------------------------------------*/

.container
{
  width: 950px;
  height: 515px;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 46px 1fr;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: fixed;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1000px) {
  .container
  {
    width: 800px;
  }
}

.container .header
{
  width: 100%;
  height: 46px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.05), 0px 3px 3px rgba(0, 0, 0, 0.05);
  background: #F8F8F8;
  z-index: 1
}
.container .header .title
{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 0px;
  padding: 13px;
  font-family: "SF UI Display Bold";
}

.container .body
{
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
}



/* ------------------------------  chart tabs nav----------------------------*/


/* positions */
.body .charts-tabsbar
{
  position: relative;
  overflow: hidden;
}
.body .charts-tabsbar > div
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  cursor: pointer;
}
.body .charts-tabsbar
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.body .charts-tabsbar img
{
  padding: 10px 0px;
  z-index: 1;
}


/* box shadow */
.body .charts-tabsbar .tabs-items > div{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
}
.body .charts-tabsbar .tabs-items >div:first-child{
  box-shadow: -10px 0px 10px -10px rgba(0, 0, 0, 0.2) inset, 0px -10px 10px -10px rgba(0, 0, 0, 0.2) inset;
}
.body .charts-tabsbar .tabs-items >div:last-child{
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2) inset, -10px 0px 10px -10px rgba(0, 0, 0, 0.2) inset;
}


/* ----------------------------- tabs content Grid--------------------------- */

.body .content > div
{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr;
}

.content .settings-container > div ,
.content .chart-container > div
{
  padding: 10px 5px 10px 5px;
}

.content .chart-container > div
{
  margin-top: 24px;
}

.content .settings-container > div
{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 50px 1fr 50px;
  padding-right: 15px;
}



/* ------------------------------- Settings tabs -------------------------- */
.tabs
{
  /* border-bottom: 1.5px solid rgb(255, 51, 90); */
}
.tabs button /* tabs items */
{
  border-top: #FFFFFF;
  border-left: #FFFFFF;
  border-right: #FFFFFF;
  font-family: "SF UI Display Medium";
  font-size: 14px;
  /* margin: 10px 0px; */
  margin: 24px 0px 0px 0px;
  height: 25px;
  width: 150px;
}


.tabs-content
{
  height: 343px;
  overflow: hidden;
}

/* ---------------------- Settings validation --------------------------- */
.validation button
{
  width: 118px;
  height: 30px;
  float: right;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  margin: 10px 20px;
  color: rgb(74,74,74);
  background-color: #FFFFFF;
}
.validation button:first-child
{
  color: #FFFFFF;
  background: #FF335A;
}
.validation button:last-child:hover
{
  background: rgb(239,239,239);
}


/* -----------------  Data table content ------------------------------ */
.tabs-content .data-tab-content
{
  display: grid;
  grid-template-rows: 1fr 300px;
  grid-template-columns: 1fr;
}

/* import data button */
.data-tab-content .btn-load-data button
{
  font-size: 10px;
  color: #FFFFFF;
  background: #FF335A;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 10px 5px;
  float: right;
}
.data-tab-content .btn-load-data img
{
  width: 12px;
  height: 10px;
  margin-right: 5px;
}

/* data table */
.data-tab-content .table-data
{
  overflow: auto;
  border: 1px solid #B5B5B5;
}
.data-tab-content .table-data table
{
  text-align: center;
  border-collapse: collapse;
  font-family: "SF UI Display Medium";
  font-size: 11px;
  z-index: 1;
}
/* first column */
.data-tab-content .line-header
{
  /* display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; */
}

/*header background color : first column and first row*/
.data-tab-content table tr td:first-child, .table-data table tr:first-child td
{
  background-color: #FAE0E5;
}
.data-tab-content table tr:first-child td:first-child
 {
   background-color: #FD738F;
 }

/* fixe row header*/
 .table-data table tr:first-child td
  {
    position: sticky;
    top: 0;
    z-index: 3;
  }


/* input type color */
.data-tab-content table .color-bubble-container
{
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-radius: 40px;
  position: relative;
  display: inline-block;
  margin: 0px 5px;
}
.data-tab-content table .color-bubble
{
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -8px;
  left: -8px;
}

 /* Table cell */
.data-tab-content table td
{
  border: 1px solid #F2F2F2;
  padding: 1px 1px;
  width: 45px;
  min-width: 45px;
  max-width: 100px;
  max-height: 15px;
  overflow: hidden;
}
.data-tab-content table td > div:first-child
{
  overflow: hidden;
  height: 13px;
}

.data-tab-content table td > div > div, /* for input error*/
.data-tab-content table td > div br,
.data-tab-content table td.no-data div, /* for color input on empty row */
.data-tab-content table tr:first-child td:last-child div /* header in last row and column */
{
  display: none;
}


/* button style : add new row and new column button */
.table-data table button
{
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.05), 0px 3px 3px rgba(0, 0, 0, 0.05);
  color: white;
  background-color: #FD738F;
  width: 100%;
  height: 100%;
}


.table-data table select
{
  height: 100%;
  width: 100%;
  padding: 0;
}



/* --------------------------  Settings chart content ------------------------------ */

.settings-chart-content
{
  font-family: "SF UI Display Medium";
  margin: 10px 0px 10px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #333333;
  height: 325px;
}
.settings-chart-content .title
{
  padding: 15px 0px 0px 0px;
  /* cursor: pointer; */
}
.settings-chart-content h3
{
  font-weight: normal;
  font-size: 14px;
  display: inline;
  padding: 0px 8px 0px 8px;
}
.settings-chart-content img
{
  width: 9px;
  height: 6px;
  padding: 0px 0px 3px 0px;
}
.settings-chart-content .style-options
{
  font-size: 12px;
  display: flex;
  flex-direction: column;
}


/*line grid */
.settings-chart-content .style-options .two-col, .settings-chart-content .style-options .four-col
{
  padding: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;

}
.four-col-type2
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.four-col-type2 >div
{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 0px;
}
.settings-chart-content .style-options .three-col
{
  padding: 10px 10px 0px 0px;
  display: flex;
}

/* margin et padding */
.two-col .option-name span
{
  padding : 10px 10px 10px 20px;
}
.three-col > div:first-child, .four-col-type2 >div >div:first-child
{
  margin-left: 20px;
}
.two-col > div, .three-col > div, .four-col > div, .four-col-type2 >div >div
{
  align-self: center;
}
.two-col > div:last-child select
{
  width: 120px;
  font-size: 13px;
  padding: 1px 10px;
}


.separation-barre
{
  margin: 5px 0px 0px 25px;
  padding: 0;
  width: 94%;
  border-bottom: 1px solid #FFE6EA;
}


/* ---------------------- Input Css ----------------------------------*/

/*  checkbox */
input[type=checkbox]
{
	visibility: hidden;
}

.settings-chart-content .checkbox
{
  width: 22px;
	height: 9px;
	background: rgba(255, 51, 90, 0.38);
	border-radius: 50px;
	position: relative;
  cursor: pointer;
  margin: 4px;
}
.checkbox label
{
	width: 25px;
	height: 18px;
	border-radius: 50px;
	position: absolute;
  cursor: pointer;
	top: -3px;
	left: -3px;
}

.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  width: 14px;
	height: 14px;
	border-radius: 50px;
	transition: all .4s ease;
	position: absolute;
  cursor: pointer;
	left: -3px;
  background: #FD738F;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.checkbox input[type=checkbox]:checked + label::before {
	left: 14px;
  background: #FF335A;
}


/* input text */
input[type=text]
{
  font-family: "SF UI Display Medium";
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #4F4F4F;
  background: #F8F8F8;
  padding: 5px 10px;
  margin: 0px 5px 0px 20px;
  height: 15px;
  outline-style: none;
  /* width: 77%; */
  width: 70%;
}

.four-col-type2 select, .four-col-type2 input[type="text"]
{
  margin: 0;
  border: 1px solid #B5B5B5;
  border-radius: 2px;
  background: white;
  color: #000000;
  max-width: 40px;
  padding: 3px 5px;

}


input[type=text]:disabled, select:disabled
{
  opacity: 0.5;
}

/* input color */
.color-picker
{
  position: relative;
  height: 26px;
  width: 26px;
  overflow: hidden;
  border-radius: 6px;
  margin: 0px 2px 0px 0px;
  border: 1px solid #B5B5B5;
}
.color-picker input[type=color]
{
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: -10px;
  left: -10px;
  cursor: pointer;
  /* transition: 2s; */
}
.color-picker input[type=color]:disabled
{
  opacity: 0.5;
}

/* button */
button
{
  outline-style: none;
  cursor: pointer;
  border: none;
}


select
{
  font-family: "SF UI Display Medium";
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #4F4F4F;
  background: #F8F8F8;
  padding: 5px 10px;
  height: 100%;
  outline-style: none;
  margin: 0px 2px;
  cursor: pointer;
  max-width: 115px;
}

ul
{
  padding: 0;
  margin: 0;
}
ul li
{
  list-style: none;
}


td > ul > li:nth-child(2)
{
  position: absolute;
  width: 50px;
  background: white;
  display : none;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.05), 0px 3px 3px rgba(0, 0, 0, 0.05);
  z-index: 2;
}
td > ul > li:nth-child(1)
{
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}


td > ul > li:nth-child(2) ul li:hover
{
  cursor: pointer;
  background: #F8F8F8;
}


.slider {
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #FF335A;
  cursor: pointer;
  border-radius: 50%;
}


/* ----------------------------------------------------- */

/* scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  /* background: rgb(220,220,220); */
  background: #FF335A;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(180,180,180);
}

/* table scrollbar */
.table-data::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.table-data::-webkit-scrollbar-thumb {
  background: rgb(220,220,220);
  border-radius: 20px;
}
.table-data::-webkit-scrollbar-thumb:hover {
  background: rgb(180,180,180);
}
